<form (ngSubmit)="onSubmit()">
    <div class="inputs-group">
        <div>
            <label for="initial-investment">Initial Investment (USD)</label>
            <input [(ngModel)]="initialInvestment" type="number" id="initial-investment" name="initial-investment">
        </div>
        <div>
            <label for="annual-investment">Annual Investment (USD)</label>
            <input [(ngModel)]="annualInvestment" type="number" id="annual-investment" name="annual-investment">
        </div>
    </div>
    <div class="inputs-group">
        <div>
            <label for="expected-return">Expected Return (%)</label>
            <input [(ngModel)]="expectedReturn" type="number" id="expected-return" name="expected-return">
        </div>
        <div>
            <label for="duration">Duration (YEARS)</label>
            <input [(ngModel)]="duration" type="number" id="duration" name="duration">
        </div>
    </div>
    <div><button (click) = "onClick()">Calculate</button></div>
</form>